<h1>Bookmark Manager</h1>
<form action='/bookmarks' method='get'>
  <input type='submit' value='View bookmarks'>
</form><br>
<form action='/new-bookmark' method='get'>
  <input type='submit' value='New bookmark'>
</form>